// sass --watch assets/scss/main.scss:assets/css/main.min.css --style compressed
html {
    font-size: 62.5%;
}
body,
html {
    background-color: #382e2a;
    padding: 0;
    margin: 0;
    font-family: "Titillium Web", sans-serif;
}
.page-title {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    h1 {
        margin: 0;
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 16rem;
        line-height: 14rem;
        @media screen and (max-width: 600px) {
            font-size: 22vw;
            line-height: 22vw;
        }
    }
    h3 {
        text-transform: uppercase;
        letter-spacing: 6px;
        margin: 0;
        line-height: 5rem;
        font-size: 5rem;
        font-weight: 200;
        @media screen and (max-width: 600px) {
            font-size: 6.5vw;
            line-height: 6.5vw;
        }
    }
}
.prj-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1000px;
    max-width: 100%;
    margin: 5rem auto 0;
    @media screen and (max-width: 999px) {
        justify-content: center;
    }
    .prj-item {
        width: 178px;
        height: 178px;
        margin: 10px;
        border: 1px solid #fff;
        a {
            color: #ffF;
            text-decoration: none;
            .logo {
                font-size: 10rem;
                line-height: 12rem;
                font-weight: 400;
                width: 100%;
                text-align: center;
            }
            .title {
                width: 100%;
                text-align: center;
                font-size: 1.4rem;
                line-height: 5rem;
                letter-spacing: 2px;
                font-weight: 300;
            }
        }
    }
}
